/.htaccess
/app/etc/local.xml

/downloader/.cache
/downloader/*.cfg
!/downloader/.htaccess

/errors/local.xml

/includes/*
!/includes/.htaccess

/media/*
!/media/.htaccess

/pkginfo/*
!/pkginfo/.htaccess

/var/*
!/var/.htaccess

/sitemap.xml

/vendor/*
.idea
Problem 2 - Daniel Georgiev/
Problem 3 - Daniel Georgiev/
Problem 1 - Daniel Georgiev.zip
Problem 2 - Daniel Georgiev.zip
Problem 3 - Daniel Georgiev.zip
