<?xml version="1.0"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2016 Amasty (https://www.amasty.com)
 * @package Amasty_Review
 */
-->
<config>
    <modules>
        <Amasty_Review>
            <version>1.0.6</version>
        </Amasty_Review>
    </modules>
    <adminhtml>
        <acl>
    		<resources>
    			<all>
    				<title>Allow Everything</title>
    			</all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <amreview translate="title" module="amreview">
                                            <title>Reviews Sidebar</title>
                                        </amreview>
                                    </children>
                                </config>
                            </children>
                        </system> 
                     </children>
                </admin> 
    		</resources>
    	</acl>
        <translate>
            <modules>
                <Amasty_Review>
                    <files>
                        <default>Amasty_Review.csv</default>
                    </files>
                </Amasty_Review>
            </modules>
        </translate>
    </adminhtml>  
    <frontend>
        <translate>
            <modules>
                <Amasty_Review>
                    <files>
                        <default>Amasty_Review.csv</default>
                    </files>
                </Amasty_Review>
            </modules>
        </translate>
        <layout>
            <updates>
                <amreview>
                    <file>amreview.xml</file>
                </amreview>
            </updates>
        </layout>
    </frontend> 
    <global>
        <models>
            <amreview>
                <class>Amasty_Review_Model</class>
                <resourceModel>amreview_mysql4</resourceModel>
            </amreview>
            <amreview_mysql4>
                <class>Amasty_Review_Model_Mysql4</class>
            </amreview_mysql4>
        </models>
        <resources>
            <amreview_setup>
                <setup>
                    <module>Amasty_Review</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </amreview_setup>
            <amreview_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </amreview_write>
            <amreview_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </amreview_read>
        </resources>
        <blocks>
            <amreview>
                <class>Amasty_Review_Block</class>
            </amreview>
        </blocks>
        <helpers>
            <amreview>
                <class>Amasty_Review_Helper</class>
            </amreview>
        </helpers>
    </global>
    
    <default>
        <amreview>
           <sidebar>
                <active>1</active>
                <by_date>1</by_date>
                <count>5</count>
                <max_words>30</max_words> 
                <show_stars>1</show_stars> 
                <for_product>0</for_product> 
                <for_category>0</for_category> 
            </sidebar> 
        </amreview>
    </default>
</config>