<?xml version="1.0"?>
<!DOCTYPE config>

<config>
    <modules>
        <SoftUni_Tulev>
            <version>0.0.0</version>
        </SoftUni_Tulev>
    </modules>
    <global>
        <models>
            <softuni_tulev>
                <class>SoftUni_Tulev_Model</class>
                <resourceModel>softuni_tulev_resource</resourceModel>
            </softuni_tulev>
            <softuni_tulev_resource>
                <class>SoftUni_Tulev_Model_Resource</class>
                <entities>
                    <submission>
                        <table>softuni_tulev_submission</table>
                    </submission>
                    <submission_registrant>
                        <table>tulev_submission_registrant</table>
                    </submission_registrant>
                </entities>
            </softuni_tulev_resource>
        </models>
        <resources>
            <softuni_tulev_setup>
                <setup>
                    <module>SoftUni_Tulev</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </softuni_tulev_setup>
        </resources>
        <blocks>
            <softuni_tulev>
                <class>SoftUni_Tulev_Block</class>
            </softuni_tulev>
        </blocks>
        <helpers>
            <softuni_tulev>
                <class>SoftUni_Tulev_Helper</class>
            </softuni_tulev>
        </helpers>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <softuni_tulev before="Mage_Adminhtml">SoftUni_Tulev_Adminhtml</softuni_tulev>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <routers>
            <submission>
                <use>standard</use>
                <args>
                    <frontName>submission</frontName>
                    <module>SoftUni_Tulev</module>
                </args>
            </submission>
        </routers>
        <layout>
            <updates>
                <submision module="SoftUni_Tulev">
                    <file>submission.xml</file>
                </submision>
            </updates>
        </layout>
    </frontend>
</config>